manifest {
    author = 'Catalina Arnaiz'
    name = 'nxf-demultiplex'
    description = 'Nanopore-Illumina library based demultiplexing pipeline derived from Claudia Sanchis intial pipeline'
    homePage = 'https://github.com/ktlina/nextflow_demultiplex'
    mainScript = 'main.nf'
    nextflowVersion = '25.04.6'
}


params {
    
    /* Input and output options */
    projectName = null
    readsDir = null                 // reads dir with custom file extension *r{1,2}.fq.gz
    readsFileExtension = null
    experimentalDesign = null

    outDir = null                   // path to output directory

    trimmIlluminaIndexes = false

}


profiles {

    local {
        conda {
            enabled = true
            cacheDir = '/home/ktlina/miniforge3/envs'
        }
        env {
            PATH = "/home/ktlina/miniforge3/bin:$PATH"
        }
        executor {
            name = "local"
            cpus = 16
        }
        includeConfig 'config/local.config'
    }

    slurm {
        conda {
            enabled = true
        }
        executor {
            name = "slurm"
            queueSize = 50
        }
        includeConfig 'config/slurm.config'
    }
}

