executor {
    name = 'local'
    cpus = params.max_cpus
    memory = params.max_memory
}

process {
    executor = 'local'

    withLabel: 'fast' { 
        cpus = 2
        memory = '4 GB' 
    }

    withLabel: 'faster' { 
        cpus = 1
        memory = '4 GB' 
    }
    
    withLabel: 'medium' { 
        cpus = 4
        memory = '16 GB' 
    }

    withLabel: 'filter_trim' { 
        cpus = 4
        memory = '8 GB'
        maxForks = 4
    }

    withName: 'mapReads2DB' { 
        cpus = 4
        memory = '8 GB'
        maxForks = 2
    }
    
    withName: 'calcLevDistance' { 
        cpus = 2
        memory = '8 GB'
        maxForks = 2
    }

    withName: 'parseBestDemulti' { 
        cpus = 4
        memory = '8 GB'
        maxForks = 4
    }
}