process {
    executor = 'slurm'

    withLabel: 'fast' { 
        cpus = 2
        memory = '5 GB'
        queue = 'fast'
        time = '2 hours'
        }

    withLabel: 'medium' { 
        cpus = 8
        memory = '50 GB'
        queue = 'medium'
        time = '8 hours'
        }

    withName: 'mapReads2DB' { 
        maxForks = 8
        queue = 'medium'
        memory = '8 GB'
        cpus = 8
        time = '2 hours'
        errorStrategy = 'retry'
        maxRetries = 2
        }
    
    withName: 'calcLevDistance' { 
        maxForks = 20
        queue = 'medium'
        memory = '8 GB'
        cpus = 2
        time = '2 hours'
        errorStrategy = 'retry'
        maxRetries = 2
        }

    withName: 'parseBestDemulti' { 
        maxForks = 50
        queue = 'fast'
        memory = '10 GB'
        cpus = 6
        time = '2 hours'
        errorStrategy = 'retry'
        maxRetries = 2
        }
}
