executor {
    name = 'slurm'
    queueSize = 50
}

process {
    executor = 'slurm'

    withLabel: 'fast' { 
        cpus = 2
        memory = '5 GB'
        queue = 'fast'
        time = '2 hours'
    }

    withLabel: 'medium' { 
        cpus = 8
        memory = '50 GB'
        queue = 'medium'
        time = '8 hours'
    }

    withLabel: 'filter_trim' { 
        cpus = 6
        memory = '10 GB'
        queue = 'fast'
        time = '2 hours'
        maxForks = 50
    }

    withName: 'mapReads2DB' { 
        cpus = 8
        memory = '8 GB'
        queue = 'medium'
        time = '2 hours'
        maxForks = 8
    }
    
    withName: 'calcLevDistance' { 
        cpus = 2
        memory = '8 GB'
        queue = 'medium'
        time = '2 hours'
        maxForks = 20
    }

    withName: 'parseBestDemulti' { 
        cpus = 6
        memory = '10 GB'
        queue = 'fast'
        time = '2 hours'
        maxForks = 50
    }
}